<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Orbit</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Orbit uses your location and compass to show which way your friends are and how far away they are.</string>
	<key>NSMotionUsageDescription</key>
	<string>Orbit reads the compass to know which way you are facing. It never leaves the device.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Archivo-Regular.ttf</string>
		<string>Archivo-SemiBold.ttf</string>
		<string>Archivo-Bold.ttf</string>
	</array>
	<key>OrbitFeedURL</key>
	<string>$(ORBIT_FEED_URL)</string>
	<key>OrbitFeedToken</key>
	<string>$(ORBIT_FEED_TOKEN)</string>
</dict>
</plist>
